<div class="card">
    <div class="card-header panel-background">
        Loan Application
        <select class="form-control float-right col-md-1" [(ngModel)]="applicant">
            <option *ngFor="let rec of applicantList" [ngValue]="rec"> {{rec.name}}</option>
        </select>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="id_companyName">Employee Name</label>
                    <input type="text" class="form-control input-sm" id="id_companyName" autofocus [(ngModel)]="applicant.name" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="id_companyName">SSN</label>
                    <input type="text" class="form-control input-sm" id="id_companyName" autofocus [(ngModel)]="applicant.ssn" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="id_companyName">State</label>
                    <select class="form-control" [(ngModel)]="applicant.state">
                        <option value="NC">North Carolina</option>
                        <option value="GA">Georgia</option>
                        <option value="FL">Florida</option>
                        <option value="NY">New York</option>
                        <option value="TX">Texas</option>
                    </select>

                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="id_companyName">Annual Income</label>
                    <input type="number" class="form-control input-sm" id="id_companyName" autofocus [(ngModel)]="applicant.annualIncome" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="id_companyName">Monthly Debt</label>
                    <input type="number" class="form-control input-sm" id="id_companyName" autofocus [(ngModel)]="applicant.monthlyDebt" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="id_companyName">Bank</label>
                    <select class="form-control" [(ngModel)]="applicant.bank">
                        <option value="Bank of America">Bank Of America</option>
                        <option value="Citi Bank">Citi Bank</option>
                        <option value="Wells Fargo">Wells Fargo</option>
                        <option value="Chase Bank">Chase Bank</option>
                    </select>

                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header panel-background">Loan Info</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="id_companyName">Type</label>
                                    <select class="form-control input-sm" [(ngModel)]="loan.type">
                                        <option value="Personal">Personal</option>
                                        <option value="Credit Card Consolidation">Credit Card Consolidation</option>
                                        <option value="Mortgage">Mortgage</option>
                                        <option value="Home Equity Loan">Home Equity Loan</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="id_companyName">Loan Amount</label>
                                    <input type="text" class="form-control input-sm" id="id_companyName" autofocus [(ngModel)]="loan.amount" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="id_companyName">Application Date</label>
                                    <input type="text" class="form-control input-sm" id="id_companyName" autofocus [(ngModel)]="loan.applicationDate" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="id_companyName">Status</label>
                                    <input type="text" class="form-control input-sm" id="id_companyName" autofocus [(ngModel)]="loan.stateDelivered" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header panel-background">Template
                        <button class="btn btn-sm btn-primary float-right" style="margin-left:10px;" (click)="createCase()">Submit Application</button>
                        <button class="btn btn-sm btn-warning float-right" style="margin-left:10px;" (click)="getRequiredSteps()">Use Rule Based Template</button>
                        <!-- <button class="btn btn-sm btn-warning float-right" style="margin-left:10px;" (click)="getRequiredSteps()">Use Template</button> -->

                        <div class="float-right">
                            <div>
                                <select class="form-control form-control-sm" [(ngModel)]="currentTemplate">
                                    <option *ngFor="let rec of templates" [ngValue]="rec">{{rec.name}}</option>
                                </select>

                            </div>
                        </div>



                    </div>
                    <div class="card-body">
                        <table class="table table-striped" style="font-size:13px;">
                            <thead>
                                <tr>
                                    <th>Step Name</th>
                                    <th>SLA</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="currentTemplate !== undefined">
                                <tr *ngFor="let rec of currentTemplate.steps;index as i">
                                    <td><span *ngIf="!rec.isNew">{{rec.name}}</span></td>
                                    <td>{{rec.sla}} ( {{rec.slaunit}} )</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>